# Eventually I will change this, but for now, I'll write in what I want to be shared.

# Ignore Sensitive File
.google.token 
customize.yaml
entity_registry.yaml
secrets.yaml
google_calendars.yaml
ip_bans.yaml
known_devices.yaml

# Ignore System Files
.cloud
.DS_Store
.storage

# DB, Log, and Cache
*.db
*.json
*.log
*.py
*.pyc

_pycache_
.HA_VERSION
deps/
home-assistant_v2.db-shm 
home-assistant_v2.db-wal
tts/

# Add-ons
esphome



