# By default, ignore all files
*
# Eventually I will change this, but for now, I'll write in what I want to be shared.

# Share this file
!.gitignore

# Git Modules
!.gitmodules

# Share Markdown files & images
!*.md
!img/*.png
!img/*.jpg
!img/appliance/*.png
!img/appliance/*.jpg
!img/av/*.png
!img/av/*.jpg
!img/ha_hardware/*.png
!img/ha_hardware/*.jpg
!img/lighting/*.png
!img/lighting/*.jpg
!img/switches/*.png
!img/switches/*.jpg

# Explicitly allow YAML files
!*.yaml

# Any scripts that I may write
!*.sh

# Allow the following subfolders
!automations
!custom_components
!img
!scripts
!www

# Ignore Sensitive File
secrets.yaml
known_devices.yaml
entity_registry.yaml
ip_bans.yaml
customize.yaml

# Ignore these files/folders
.storage
.cloud
.google.token 
home-assistant.log
google_calendars.yaml