#################################################################
## Home Assistant - Core Configuration
#################################################################

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

#################################################################
## Components
#################################################################

# Recorder
recorder:
  auto_purge: true
  purge_keep_days: 5
  commit_interval: 1
  exclude:
    domains:
      - media_player
      - weather
    entity_globs: 
      - sensor.weather_*
    entities:
      - media_player.sonny_cast

#  History
history:
# include:
  exclude:
#   domains:
#     - 
    entity_globs: 
     - automation.*
      - script.*
      - light.*
      - sensor.*
      - switch.*
      
# Text to speech
tts:
  - platform: google_translate

#################################################################
## Notifications
#################################################################

# Telegram bot
telegram_bot:
  - platform: polling
    api_key: !secret telegram_bot_key
    allowed_chat_ids: !secret telegram_bot_chat_ids

# Notifications    
notify:
# Telegram
  - name: telegram
    platform: telegram
    chat_id: !secret telegram_bot_main_chat_id

#################################################################
## Software Integrations
#################################################################

# Google Cal
google:
  client_id: !secret google_client_id
  client_secret: !secret google_client_secret

# Speedtest
speedtestdotnet:
  scan_interval:
    hours: 2

#################################################################
## Device Integrations
#################################################################

# Dyson
dyson:
  username: !secret dyson_username
  password: !secret dyson_password
  language: US
  devices:
    - device_id: !secret kirby_device_id
      device_ip: !secret kirby_device_ip

# Winston
vacuum:
  - platform: xiaomi_miio
    host: !secret winston_host
    token: !secret winston_token
    name: Winston

#################################################################
## Camera Integrations
#################################################################

camera:
# Winston lidar
  - platform: xiaomi_cloud_map_extractor
    host: !secret winston_host
    token: !secret winston_token
    username: !secret winston_username
    password: !secret winston_password
    country: us
    colors:
      color_map_outside: [3, 169, 244]
    room_colors: 
      # Hallway
      16: [253, 211, 82]
      # Living Room
      17: [106, 191, 209]
      # Kitchen
      18: [145, 200, 255]
      # Office
      19: [245, 142, 110]
      # Bathroom
      20: [7, 152, 183]
    draw: ["all"]
    map_transformation:
      scale: 2
      trim:
        top: 22
        bottom: 22
        left: 22
        right: 22
    attributes:
      - calibration_points
      - charger
      - goto
      - goto_path
      - goto_predicted_path
      - image
      - is_empty
      - map_name
      - no_go_areas
      - no_mopping_areas
      - obstacles
      - path
      - room_numbers
      - rooms
      - vacuum_position
      - vacuum_room
      - walls
      - zones
    scan_interval:
      seconds: 1
    auto_update: true

#################################################################
## Media Players
#################################################################

media_player:
# Shield
  - platform: androidtv
    name: SHIELD TV
    host: !secret shield_ip
# Sonny
  - platform: androidtv
    name: Sonny TV
    host: !secret sonny_ip

#################################################################
## Sensors
#################################################################

sensor:
# Google WiFi
  - platform: google_wifi
# HA Uptime
  - platform: uptime
    name: Time Online
    unit_of_measurement: hours  
# HA system monitor
  - platform: systemmonitor 
    resources: 
      - type: memory_use_percent
      - type: processor_use
      - type: processor_temperature
         
binary_sensor:
# Workday
  - platform: workday
    country: US
    workdays: [mon, tue, wed, thu, fri]
    excludes: [sat, sun]

######## INCLUDES ########
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
