#################################################################
## Home Assistant - Core Configuration
#################################################################

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

#################################################################
## Components
#################################################################

input_boolean:
## TODO: #245 Split Input Booleans out from configuration.yaml
  shield_tv:
    initial: off
#################################################################
## Theme
#################################################################

lovelace:
  mode: yaml
  resources:
    [ {url: /hacsfiles/button-card/button-card.js,                                  type: module},
      {url: /hacsfiles/custom-sidebar/custom-sidebar.js,                            type: module},
      {url: /hacsfiles/light-popup-card/light-popup-card.js,                        type: module},
      {url: /hacsfiles/lovelace-card-mod/card-mod.js,                               type: module},
      {url: /hacsfiles/lovelace-hui-element/hui-element.js,                         type: module},
      {url: /hacsfiles/lovelace-paper-buttons-row/paper-buttons-row.js,             type: module},
      {url: /hacsfiles/lovelace-slider-entity-row/slider-entity-row.js,             type: module},
      {url: /hacsfiles/lovelace-state-switch/state-switch.js,                       type: module},
      {url: /hacsfiles/lovelace-swipe-navigation/swipe-navigation.js,               type: module},       
      {url: /hacsfiles/lovelace-tempometer-gauge-card/tempometer-gauge-card.js,     type: module},
      {url: /hacsfiles/lovelace-xiaomi-vacuum-map-card/xiaomi-vacuum-map-card.js,   type: module},
      {url: /hacsfiles/mini-graph-card/mini-graph-card-bundle.js,                   type: module},
      {url: /hacsfiles/purifier-card/purifier-card.js,                              type: module},
      {url: /hacsfiles/rgb-light-card/card.js,                                      type: module},
      {url: /hacsfiles/stack-in-card/stack-in-card.js,                              type: module},  
      {url: /hacsfiles/vacuum-card/vacuum-card.js,                                  type: module},
      {url: /hacsfiles/vertical-stack-in-card/vertical-stack-in-card.js,            type: module}, ]       
#################################################################
## Add-ons
#################################################################

browser_mod:
  prefix: "browser_mod_"

#################################################################
## Device Integrations
#################################################################

# Dyson
## TODO: #241 Split Dyson out from configuration.yaml
dyson:
  username: !secret dyson_username
  password: !secret dyson_password
  language: US
  devices:
    - device_id: !secret kirby_device_id
      device_ip: !secret kirby_device_ip

# Winston
vacuum:
  - platform: xiaomi_miio
    host: !secret winston_host
    token: !secret winston_token
    name: Winston

#################################################################
## Sensors
#################################################################

sensor:
  - platform: scrape
    name: Jacket
    resource: https://doineedajacket.com/weather/potrero_hill
    select: ".tom_wx h4"

## TODO: #243 Split binary sensors from configuration.yaml
binary_sensor:
  # Workday
  - platform: workday
    country: US
    workdays: [mon, tue, wed, thu, fri]
    excludes: [sat, sun]

######## INCLUDES ########
homeassistant:
  packages: !include_dir_named integrations